*{
    margin: 0;
    padding: 0;
}
html{
    background-color: #aaa9a9;
    font-family: sans-serif;
}
body{
    max-width: 1100px;
    width: 100%;
    background-color: white;
    margin: 0 auto;

}
header{
    width: 100%;
    height: 100%;
    max-height: 825px;
    position: relative;
    display: block;
    background-image: url(./assets/img/university-1100.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
    
}
#nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav p{

    color: white;
    font-size: 28pt;
}
#nav ul{
    width: 100%;
    display: flex;
}
#nav li{
    list-style: none;
    text-decoration: none;
    border-right: solid black 1px;
    padding: .5em .5em;
}
#nav li span{
    padding: 0 .5em;
    font-size: 22pt;
    font-weight: 100;
}
#nav li a{
    text-decoration: none;
    color: black;
}
#nav li:hover{
    background-color: white;
}

#p2{
    height: 100%;
    width: 100%;
    font-size: 35pt;
    color: white;
    text-align: center;
    padding: 40% 0 60% 0;
}
#p2 button{
    font-size: 30pt;
    border: none;
    border-radius: 4px;
    margin-top: 3px;
    padding: 0 .5em;
}
#p2 button:hover{
    background-color: cyan;
}
#logo_sect{
    padding: 2em 0;
    width: 100%;
    display: flex;
}
#logos{
    width: 50%;
    display: flex;
    text-align: center;
}
#logos img{
    width: 90%;
    height: 90%;
}
#logos a{
    text-decoration: none;
}
#para{
    display: flex;
    text-align: center;
    width: 50%;
    font-size: 40px;
    justify-content: center;
}
#para p{
    align-self: center;
    max-width: 250px;
}
#para p a{
    color: tomato;
}
#rose{
    color: white;
    font-size: 40px;
    text-align: center;
    width: 100%;
    background: #ee4fcb;
}
#tete{
    display: flex;
    text-align: center;
    justify-content: space-around;
}
#rose p{
    padding: .5em 0;
}
#volley{
    height: max-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#volley img{

    height: 100%;
    width: 50%;
    
}
#volley p{
    font-size: 40px;
    width: 50%;
    text-align: center;
    padding: 0 1em;

}
#volley a{
    color: tomato;
}
footer{
    width: 100%;
}
footer ul{

    width: 100%;
    display: flex; 
    justify-content: center;
    list-style: none;  
    background-color: #5d5da0;
}
footer li{
    background-color: #5d5da0;
    padding: 1em 0;
    padding: .5em;
    border-left: solid black 1px;
}
#leftborder{
    border: none;
}
footer li a{
    text-decoration: none;
    color: white;
}
footer span{
    font-size: pt;
}
footer li:hover{
    background-color: turquoise;
}
footer p{
    text-align: center;
}
@media screen and (max-width: 415px) {
    header{
        background-position: center;
        height: max-content;
    }
    header ul{
        flex-direction: column;
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
    }
    #nav{
        justify-content: center;
    }
    #nav li{
        background-color: #393535;
        text-align: center;
        margin: .2em 0 ;
        border: none;
    }
    #nav li:hover{
        background-color: turquoise;
    }
    #nav li a{
        color: white;
        font-style: italic;
    }
    #logo_sect{
        margin-top: 45%;
        flex-direction: column;
        height: max-content;
    }
    #logos{
        height: 50%;
        width: 100%;
    }
    #para{
        margin: 1em 0 .5em 0;
        height: 50%;
        width: 100%;
    }
    #rose p{
        margin: 0  auto;
        text-align: center;
        max-width: 350px;
        font-size: 22px;
    }
    #tete{
        flex-direction: column;
        font-size: 22px;
        align-items: center;
    }
    #volley p{
        padding: .5em 0;
    }
    #volley{
        width: 100%;
        height: max-content;
        flex-direction: column;
    }
    #volley img{
        width: 100%;
        margin-bottom: 10px;
    }
    footer ul{
        background-color: white;
        flex-direction: column;
        text-align: center;
    }
    footer li{
        margin: .4em 0;
    }
}